<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: silver;
    }

    .recuadro {
      border: 1px solid black;
      width: 33%;
      display: inline-block;
      /* height:99%; */
      overflow: hidden;
    }
    #uno {
      background-color: #6060bd;
    }
    #dos {
      background-color: #bdd4bd;
    }
    #tres {
      background-color: #ecec9f;
    }
  </style>
</head>
<body>
  <div class="recuadro" id="uno">
    <h1>Variables</h1>
    <ul>
      <li><button (click)="MostrarTemperatura()">Temperatura</button></li>
      <li><button (click)="MostrarHumedad()">Humedad</button></li>
      <li><button (click)="MostrarRadiacion()">Radiación</button></li>
    </ul>
  </div>
  <div class="recuadro" id="dos">
    <h1>Graficas</h1>
    <app-graficas></app-graficas>
  </div>

  <div class="recuadro" id="tres">
    <h1>Botones</h1>
    <app-botones></app-botones>
  </div>
</body>
<!-- <ul>
  <li *ngFor="let temp of temperatura">Temperatura {{ temp.name }}</li>
  <li *ngFor="let hum of humedad">Humedad {{ hum.email }}</li>
  <li *ngFor="let rad of radiacion">Radiación {{ rad.username }}</li>
</ul> -->
